<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Number</title>
    <link rel="stylesheet" href="css/vnum.css">
</head>
<body>
    <main>
        <div class="vnumcont">
            <form action="vnum" enctype="multipart/form-data" method="POST">
                <label for="vnum">Vehicle Number</label>
                <input name="vnum" type="text" maxlength="10" placeholder="Enter your Vehicle Number" id="vnum">
                <button type="submit">Submit</button>
            </form>
            <img src="addman.jpg" alt="addman">
        </div>
    </main>
</body>
</html>